* {
  --headline1: 56px;
  --headline2: 48px;
  --headline3: 36px;
  --headline4: 32px;
  --title1: 28px;
  --title2: 24px;
  --title3: 20px;
  --body1: 18px;
  --body2: 16px;
  --caption1: 14px;
  --caption2: 12px;
}

:root[data-seed] {
  color-scheme: light dark;
}

:root[data-seed] {
  --static-white: #fff;
  --static-grey50: #f9fafb;
  --static-grey100: #f2f4f6;
  --static-grey200: #e5e8eb;
  --static-grey300: #d1d6db;
  --static-grey400: #b0b8c1;
  --static-grey500: #8b95a1;
  --static-grey600: #6b7684;
  --static-grey700: #4e5968;
  --static-grey800: #333d4b;
  --static-grey900: #191f28;
  --static-orange900: #ff740f;
  --core-green: #34a853;
  --core-yellow: #fbbc04;
  --core-red: #ea4335;
  --core-blue: #4285f4;
  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --window-size-desktop: 1024px;
  --window-size-tablet: 768px;
  --window-size-mobile: 480px;
  --window-size-mobile-small: 320px;
  --title-font-weight: var(--font-weight-bold);
  --text-font-weight: var(--font-weight-medium);
  --quote-font-weight: var(--font-weight-regular);
}
:root[data-seed][data-seed-theme='light'] {
  --background: var(--static-white);
  --white: #fff;
  --grey50: #f9fafb;
  --grey100: #f2f4f6;
  --grey200: #e5e8eb;
  --grey300: #d1d6db;
  --grey400: #b0b8c1;
  --grey500: #8b95a1;
  --grey600: #6b7684;
  --grey700: #4e5968;
  --grey800: #333d4b;
  --grey900: #191f28;
  --green100: #e8f5e9;
  --green200: #c8e6c9;
  --green300: #a5d6a7;
  --green400: #81c784;
  --green500: #66bb6a;
  --green600: #4caf50;
  --green700: #388e3b;
  --green800: #2e7d31;
  --green900: #1b5e20;
  --yellow100: #fff8e1;
  --yellow200: #ffecb3;
  --yellow300: #ffe082;
  --yellow400: #ffd54f;
  --yellow500: #ffca28;
  --yellow600: #ffb300;
  --yellow700: #ffa000;
  --yellow800: #ff8f00;
  --yellow900: #ff6f00;
  --red100: #ffebee;
  --red200: #ffcdd2;
  --red300: #ef9a9a;
  --red400: #e57373;
  --red500: #ef5350;
  --red600: #f44336;
  --red700: #e53935;
  --red800: #d32f2f;
  --red900: #b71c1c;
  --orange100: #fff3e0;
  --orange200: #ffe0b2;
  --orange300: #ffcc80;
  --orange400: #ffb74d;
  --orange500: #ffa726;
  --orange600: #ff9800;
  --orange700: #fb8c00;
  --orange800: #f57c00;
  --orange900: #ff740f;
  --blue100: #e3f2fd;
  --blue200: #bbdefb;
  --blue300: #90caf9;
  --blue400: #64b5f6;
  --blue500: #42a5f5;
  --blue600: #2196f3;
  --blue700: #1e88e5;
  --blue800: #1976d2;
  --blue900: #1565c0;
  --box-shadow100: 0 0.8px 2px rgba(0, 0, 0, 0.03),
    0 3px 7px rgba(0, 0, 0, 0.05), 0 12px 30px rgba(0, 0, 0, 0.1);
}
:root[data-seed][data-seed-theme='dark'] {
  --background: #202124;
  --white: #191f28;
  --grey50: #333d4b;
  --grey100: #4e5968;
  --grey200: #6b7684;
  --grey300: #8b95a1;
  --grey400: #b0b8c1;
  --grey500: #d1d6db;
  --grey600: #e5e8eb;
  --grey700: #f2f4f6;
  --grey800: #f9fafb;
  --grey900: #fff;
  --green100: #1b5e20;
  --green200: #2e7d31;
  --green300: #388e3b;
  --green400: #4caf50;
  --green500: #66bb6a;
  --green600: #81c784;
  --green700: #a5d6a7;
  --green800: #c8e6c9;
  --green900: #e8f5e9;
  --yellow100: #ff6f00;
  --yellow200: #ff8f00;
  --yellow300: #ffa000;
  --yellow400: #ffb300;
  --yellow500: #ffca28;
  --yellow600: #ffd54f;
  --yellow700: #ffe082;
  --yellow800: #ffecb3;
  --yellow900: #fff8e1;
  --red100: #b71c1c;
  --red200: #d32f2f;
  --red300: #e53935;
  --red400: #f44336;
  --red500: #ef5350;
  --red600: #e57373;
  --red700: #ef9a9a;
  --red800: #ffcdd2;
  --red900: #ffebee;
  --orange100: #ff740f;
  --orange200: #f57c00;
  --orange300: #fb8c00;
  --orange400: #ff9800;
  --orange500: #ffa726;
  --orange600: #ffb74d;
  --orange700: #ffcc80;
  --orange800: #ffe0b2;
  --orange900: #fff3e0;
  --blue100: #1565c0;
  --blue200: #1976d2;
  --blue300: #1e88e5;
  --blue400: #2196f3;
  --blue500: #42a5f5;
  --blue600: #64b5f6;
  --blue700: #90caf9;
  --blue800: #bbdefb;
  --blue900: #e3f2fd;
  --box-shadow100: 0 0.8px 2px rgba(0, 0, 0, 0.03),
    0 3px 7px rgba(0, 0, 0, 0.05), 0 12px 30px rgba(0, 0, 0, 0.1);
}
